@using Project.DAL.Models
@model Reservation
<!-- Begin Page Content -->
<div class="container">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Foods Details</h6>
		</div>

		<div class="card-body">
			<p>Id: @Model.Id</p>
			<p>FirstName: @Model.AppUser.FirstName</p>
			<p>LastName: @Model.AppUser.LastName</p>
			<p>Create time: @Model.CreatedAt</p>
			@if (Model.UpdateAt is not null)
			{
				<p>Update time: @Model.UpdateAt</p>
			}

		</div>
		<td>
			<a class="btn btn-primary" asp-controller="Reservation" asp-action="Update" asp-route-id="@Model.Id">Update</a>
		</td>
	</div>
</div>
