﻿@using Project.DAL.Models
@model JobCategory
<!-- Begin Page Content -->
<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Item Details</h6>
        </div>
        <div class="card-body">
            <p>Id:@Model.Id </p>
            <p>Create time:@Model.CreatedAt </p>
            <p>Name:@Model.Name </p>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">CategoryId</th>
            <th scope="col">CreateAt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Job item in Model.Jobs)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Requirements</td>
                <td>@item.JobCategoryId</td>
                <td>@item.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>