@using Project.BL.DTOs.JobDTOs
@model IEnumerable<GetJobDto>

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center py-3">
            <h6 class="m-0 font-weight-bold text-primary">Places</h6>
            <a class="btn btn-primary" style="width: 160px" asp-controller="Job" asp-action="Create">+ Add Place</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>JobCategory</th>
                            <th width="300">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GetJobDto item in Model)
                        {
                            <tr>
								<td>@item.Id</td>
                                <td>@item.Name</td>
								<td>@item.JobCategoryName</td>
                                <td class="d-flex justify-content-around">
                                    <a class="btn btn-primary" asp-controller="Job" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-danger" asp-controller="Job" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    <a class="btn btn-info" asp-controller="Job" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<!-- Page level plugins -->
<script src="~/admin/vendor/datatables/jquery.dataTables.min.js" defer></script>
<script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js" defer></script>

<!-- Page level custom scripts -->
<script src="~/admin/js/demo/datatables-demo.js" defer></script>